.header {
  height: 10wh;
  width: 100vw;
  background-color: lightgrey;
}

.marker-list {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100vh;
  background-color: darkgrey;
}

.toggle-icon {
  width: 1.8em;
  height: auto;
  position: absolute;
  z-index: 1001;
  transform: translateX(-50%);
}

.toggle-icon:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: lightslategrey;
  position: fixed;
  bottom: 0;
}

.credits {
  width: 90%;
  font-size: 0.7em;
  text-align: center;
}